.header {
    height: 99vh;
    min-height: 500px;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.55), rgba(255, 140, 0, 0.45)), url(../assets/pictures/jinx.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.separation {
    width: 100%;
    height: 0.25rem;
    margin: 1rem 0;
    background: linear-gradient(to right, transparent, #f97316, transparent);
    border-radius: 1rem;
}

.composition-container {
    position: relative;
    height: 24rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.composition-photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    position: absolute;
    height: 14rem;
    object-fit: cover;
    z-index: 10;
    transition: all 0.3s ease-out;
    outline-offset: 0.5rem;
}

.composition-photo-1 {
    left: 0;
    top: -1rem;
}

.composition-photo-2 {
    right: 0;
    top: 2rem;
}

.composition-photo-3 {
    left: 20%;
    top: 8rem;
}

.composition-photo:hover {
    transform: scale(1.08) translateY(-0.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
    z-index: 20;
    outline: 3px solid #ff8c00;
}

.tier-more-btn {
    text-decoration: none;
    transition: all 0.2s;
}

@media (max-width: 640px) {
    .composition-container {
        height: 20rem;
    }
    .composition-photo {
        height: 11rem;
        width: 65%;
    }
    .composition-photo-3 {
        top: 6rem;
    }
}